<h2>Ask your questions, find your answers (or not).</h2>
<ul>
	<% @questions.each do |question| %>

		<a href=<%="/questions/#{question.id}"%>><li><%=question.question_text%></li></a>
		<div id=num-votes><%=question.votes.count%></div>
		<div id=num-answers><%=question.answers.count%></div>
	<% end %>

</ul>

<div>
		<% if logged_in? %>
			<a href='/questions/new' >Add new question. </a>
		<% else %>
			<a href='/sessions/new' > Please login to add new question. </a>
		<% end %>
</div>
