<h2>Ask your questions, find your answers (or not).</h2>
<ul>
	<% @questions.each do |question| %>

		<a href=<%="/questions/#{question.id}"%>><li><%=question.question_text%></li></a>

	<% end %>

</ul>

<div>
	<a href='/questions/new' >new question form </a>
</div>