#bar-if-in {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

#bar-if-out {
	  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-list{
	float: left;
}

.nav-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.nav-list a:hover {
    background-color: #111;
}


#logout-form {
	padding: 27%;
	margin: 0;
	background-color: transparent;
	border: none;
	color: white;
}

#logout-form:hover {
    background-color: #111;
}

.question-text {
  list-style-type: none;
  display: inline-block;
}

#num-votes {
  border: 1px solid black;
  display: inline-block;
}

#num-answers {
  border: 1px solid black;
  display: inline-block; 
}

.answer-text {
  list-style-type: none;
  display: inline-block;
}